<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>US Mass shootings</title>

  <!-- Boostrap Stylesheet -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" media="screen">
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" media="screen">

  <!-- Leaflet CSS & JS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"></script>
  <!-- Our CSS -->
  <style>
    #logo{background-color:#333;
    font: none;}
    .navbar-custom {
      background-color: #333;
  }
      body {
        padding: 0px;
        margin: 0px;
      }
      #map,
      body,
      html {
        height: 100%;
      }
      h1 {
        text-align: center;
      }
    </style>
</head>

<body>
    <!-- Start of navbar -->
    <nav id ="mainheader" class="navbar navbar-default">
      <div class="container-fluid navbar-custom">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- <div class="col-xs-9 phone-nav"> -->
                <a class="navbar-brand" href="/" id="logo">US Mass shootings 1982-2018</a>
              <!-- </div> -->
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right navbar-right-custom">
                    <li><a target="_blank" href="/about">About</a></li>
                    <li><a target="_blank" href="/plots">Plots</a></li>
                    <li><a target="_blank" href="/choropleth">Severity of Gun Laws</a></li>
                    <li><a target="_blank" href="/states">State Gun Laws</a></li>
                </ul>
            </div>
          </div><!-- /.navbar-collapse -->
        </div>
      </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
  </nav>
    <!-- End of navbar -->
    <!-- The div where we will inject our map -->
    <div id="map"></div>

        <!-- End of container -->
      <!-- Our JS -->
    <script src="{{url_for('static', filename='js/app.js')}}"></script>

    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap CDN -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

</body>
</html>
